html, body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
}
.no-style-list {
    text-decoration: none;
    list-style: none;
}

.link {
    text-decoration: none;
    color: black;
}

.main-header {
    height: 800px;
    background-color: #bfd0e6;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 300px;
    border-radius: 100%;
}

.page-header {
    background-color: #bfd0e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}


.quick-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #bfd0e6;
    height: 100px;
}

.sections-title {
    padding: 20px;
}

.quick-link {
    width: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

box-icon {
    margin: 5px;
}

.project, .education, .about, .hobby {
    background-color: #bfd0e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}
.project-description {
    text-align: center;
    max-width: 740px;
}

.project-img, .bike-img {
    width: 700px;
    border-radius: 10px;
    margin: 20px;
}
.list-content {
    align-items: center;
    text-align: center;

}
